@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
$family-sans-serif: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "游ゴシック体", "Yu Gothic", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$family-primary: $family-sans-serif;

//$body-size: 1rem;
$body-line-height: 1.9;

// Bulma css
@import "bulma";