<section class="hero is-primary is-medium">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li><a>今週のベストショット</a></li>
          <li><a>友人の反応</a></li>
          <li><a>通知設定</a></li>
          <li><a>カメラ設定</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
